//---------------------------------------------------------------------------
	>>> Home Page :
	---------------------------------------------------------------------------
extends ./template/main

block variables
	- let pageTitle = 'Home page || Coca-Cola';
	- let padeDescription = pageTitle + 'Always Coca-Cola';

block content

	
	section.home__firstscreen.screen-slide.section
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.container
			h1.title Main Site Title
			.caption Lorem ipsum descripsum
			a.btn-transperent Call to action
		.santa-container
			img.santa-image(src="images/pages/home/stClaus.png" alt="santa-image")
			.santa-say.wow.fadeIn(data-wow-duration="2s" data-wow-delay="2s")
				<svg width="281" height="197" viewBox="0 0 281 197" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_f_21:87)"><g filter="url(#filter1_d_21:87)"><path d="M261.668 30.8492L220.936 73.4517L205.352 48.2426L261.668 30.8492Z" fill="white"/></g><g filter="url(#filter2_d_21:87)"><ellipse cx="122.695" cy="93.3384" rx="111.484" ry="83.0559" transform="rotate(-0.145312 122.695 93.3384)" fill="white"/></g></g><defs><filter id="filter0_f_21:87" x="7.21045" y="6.28225" width="258.458" height="174.112" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_21:87"/></filter><filter id="filter1_d_21:87" x="194.352" y="20.8492" width="86.3166" height="72.6025" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="4" dy="5"/><feGaussianBlur stdDeviation="7.5"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_21:87"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_21:87" result="shape"/></filter><filter id="filter2_d_21:87" x="0.210449" y="0.282255" width="252.969" height="196.112" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="4" dy="5"/><feGaussianBlur stdDeviation="7.5"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_21:87"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_21:87" result="shape"/></filter></defs></svg>
				span How how how !!! Like it? Scroll down for more !
		img.stars(src="images/pages/home/stars.svg" alt="stars")
		#scroll-down
			<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3153 36.7709C18.2939 37.7449 19.8768 37.7412 20.8508 36.7627L36.7237 20.8159C37.6978 19.8373 37.6941 18.2544 36.7155 17.2803C35.7369 16.3063 34.154 16.31 33.18 17.2885L19.0707 31.4635L4.8958 17.3542C3.91722 16.3802 2.33431 16.3838 1.36027 17.3624C0.38623 18.341 0.389905 19.9239 1.36848 20.8979L17.3153 36.7709ZM16.5 1.0058L16.5789 35.0048L21.5789 34.9932L21.5 0.994196L16.5 1.0058Z" fill="white"/></svg>

	section.home__present.screen-slide.section
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.container
			.left
				h2.title At least somewhere you can feel new year atmosphere
				.caption Choose your present:

				.present-thumbs
					.present-thumb-item.active
						img.present-thumb-image(src="images/pages/home/present-thumb1.png" alt="image")
					.present-thumb-item
						img.present-thumb-image(src="images/pages/home/present-thumb2.png" alt="image")
					.present-thumb-item
						img.present-thumb-image(src="images/pages/home/present-thumb3.png" alt="image")
			.right
				.present-tab
					.present-tab-item.active
						.present-description
							.heading Best sock ever 1
							p Reuglar sock have no present inside Lorem Ipsum is simply dumm  y text of the printing and types etting industry. Lorem
						img.present-image(src="images/pages/home/present1.png" alt="image")
					.present-tab-item
						.present-description
							.heading Best sock ever 2
							p Reuglar sock have no present inside Lorem Ipsum is simply dumm  y text of the printing and types etting industry. Lorem
						img.present-image(src="images/pages/home/present1.png" alt="image")
					.present-tab-item
						.present-description
							.heading Best sock ever 3
							p Reuglar sock have no present inside Lorem Ipsum is simply dumm  y text of the printing and types etting industry. Lorem
						img.present-image(src="images/pages/home/present1.png" alt="image")

	section.home__contact_form.screen-slide.section
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.snow
		.container
			h2.title Write us<br> for real presents

			form.contact-form
				.input-row
					input.input-item(type="text" name="name" placeholder="Name")
					input.input-item(type="text" name="phone" placeholder="Phone")
				.input-row
					select.input-item
						option Gender
						option Boy
						option Girl
					input.input-item(type="text" name="email" placeholder="Email")
				textarea.textarea-item(name="text" placeholder="Your wish")

				label.label-container Whant Coca-cola with present ?
					input.checkbox-agree(type="checkbox")
					span.checkmark


				input.submit-button.btn-submit(type="submit" value="Submit")

		#scroll-up
			<svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.8073 1.23217C19.8309 0.25586 18.248 0.25586 17.2717 1.23217L1.36182 17.1421C0.385511 18.1184 0.385511 19.7013 1.36182 20.6776C2.33813 21.6539 3.92104 21.6539 4.89735 20.6776L19.0395 6.53547L33.1816 20.6776C34.1579 21.6539 35.7408 21.6539 36.7172 20.6776C37.6935 19.7013 37.6935 18.1184 36.7172 17.1421L20.8073 1.23217ZM21.5395 36.999V2.99994H16.5395V36.999H21.5395Z" fill="white"/></svg>